<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >

    <title>teste</title>
  </head>
  <body>

    <%- include navbar %>
    <div class="container  mt-5">
        
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
    <script type="module" src="/static/js/main.js"></script>
   
  </body>
</html>